html{
box-sizing: border-box;
background-color: #7F8182;


}
*,*:before,*:after{
box-sizing: inherit;
}
 .landingPage{
    background-image: url('/Users/TerranceChang/Desktop/API-CapStone-Project/Blurr-Image.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
   
    
}  
h1{
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    color:orange;
}
h2{
    
    font-family: 'Exo 2', sans-serif;
}
label{
    display: block;
    text-align: center;
    line-height: 26px;
    font-family: 'Exo 2', sans-serif;
}

.resultsContainer{
    width: 100%;
    height: auto;
    display: flex;
    font-family: 'Exo 2', sans-serif;
}
.result-list{
    text-align: center;
}
.box{
    width:50%;
    margin: 20px;
    text-decoration: black solid;
    border-style: solid black;
    border-radius: 5px;
    background-color: #DFFBFA;
}
.mainScreen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

/* Mobile and tablet users */
@media screen and (max-width: 680px){

    .landingPage{
        background-size: cover;
        background-repeat: no-repeat;
        height: 150px;
        border-radius: 5px;
        line-height: 0;
        padding: 5px;
        margin: 0px auto;
        
    }
    label{
        text-decoration: solid;
        font-size: 16px;
        font-weight: bold;
    }
    .userSearch{
        border-style: solid;
        border-color: black;
        border-radius: 6px;
        padding: 10px;
        width: 35%;
    }   
    .searchResult{
        border-style: solid;
        border-color: black;
        border-radius: 6px;
        margin: 10px;
    }
    .box1{
        border-style: solid;
        border-color: black;
        border-radius: 6px;
        width: 40%;
    }
    .box2{
        border-style: solid;
        border-color: black;
        border-radius: 6px;
        width:30%;
    }
    img{
        display:block;
        margin-left: 25px;
        width: 70%;
    }
    h2{
        text-align: center;
    }
}    
