html{
    box-sizing: border-box;
}
*,*:before,*:after{
    box-sizing: inherit;
}
h1{
text-align: center;
}
label, input{
    display: block;
}
label{
    line-height: 26px;
}
#result-list{
    text-align: right;
}
