html{
box-sizing: border-box;
background-color: #313131;
background-image: url('https://www.intechnic.com/hubfs/Blog/Featured%20Images/36%20Beautiful%20Big%20Background%20Image%20Website%20Designs.jpg'); 
background-size: cover;
background-repeat: no-repeat;

}
body,html{
    height: 100%;
}
*,*:before,*:after{
box-sizing: inherit;
}

#main{
    min-height: 62.5vh;
}
.landingPage{
    position: relative;
    top:50px;
}
.hidden{
    display: none;
}
h1{
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    color:#3BEFDB;
    font-size: 32px;
}
h2{
    font-family: 'Arvo', serif;
}
label{
    display: block;
    text-align: right;
    line-height: 28px;
    font-family: 'Assistant', sans-serif;
    color:black;
    font-weight: bold;
    text-decoration: black solid;
    border-style: solid black;
    border-radius: 5px;
    background-color: #DFFBFA;
    line-height: 20px;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
}
.resultsContainer{
    width: 100%;
    height: auto;
    display: flex;
    font-family: 'Arvo', serif;
}
.result-list{
    text-align: center;
}
.product-details{
    list-style-type: none;
}
.box{
    width:50%;
    margin: 20px;
    text-decoration: black solid;
    border-style: solid black;
    border-radius: 5px;
    background-color: #DFFBFA;
    
}
.mainScreen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.legal{
    /* height: 50px; */
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: white;  
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;  
}

/* Tablet, Desktop, and larger Screen Users  */
@media screen and (min-width: 681px){
    .landingPage{
        background-size: contain;
        background-repeat: no-repeat;
        height: 200px;
        border-radius: 5px;
        line-height: 0;
        padding: 5px;
        margin: 0px auto;  
    }
    label{
        text-decoration: solid;
        font-weight: bold;
        text-align: center;
        width: 60%;

    }
    .userSearch{
        border-style: solid;
        border-color: black;
        border-radius: 6px;
        padding: 10px;
        width: 25%;
    }  
    .searchResult{
        border-style: solid;
        border-color: black;
        border-radius: 6px;
        margin: 10px;
        font-size: 38px;
        background-color:#DFFBFA;
        transition: 8.0ms;
    }
    .searchResult:hover{
        background-color: #53FA36;
    }     
    .box1{
        border-style: solid;
        border-color: black;
        border-radius: 6px;
        width: 40%;
    }
    .box2{
        border-style: solid;
        border-color: black;
        border-radius: 6px;
        width:30%;
    }
    img{
        display:block;
        margin-left: 25px;
        width: 70%;
    }
    h2{
        text-align: center;
    }
}    
/* Mobile and tablet users */
@media screen and (max-width: 680px){
    /* .mainScreen{

    } */
    .landingPage{
        height: 170px;
        border-radius: 5px;
        line-height: 0;
        padding: 5px;
        margin: 0px auto;
        position: relative;
        left: 20px; 
        
    }
    label{
        text-decoration: solid;
        font-size: 16px;
        font-weight: bold;
    }
    label{
        text-align: center;
        width:60%;
        position: relative;
        top:50%;
    }
    .userSearch{
        border-style: solid;
        border-color: black;
        border-radius: 6px;
        padding: 10px;
        width: 35%;
    } 
    .searchResult{
        border-style: solid;
        border-color: black;
        border-radius: 6px;
        margin: 10px;
        font-size: 20px;
        line-height: 23px;
        white-space:none;
        background-color:#DFFBFA;
        transition: 8.0ms;
    }
    .searchResult:hover{
        background-color: #53FA36;
    }     
    .box1{
        border-style: solid;
        border-color: black;
        border-radius: 6px;
        width: 40%;
    }
    .box2{
        border-style: solid;
        border-color: black;
        border-radius: 6px;
        width:30%;
    }
    img{
        display:block;
        margin-left: 20px;
        width: 50%;
    }
    h2{
        text-align: center;
    }
}    
